[Unit]
Description=JKiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=HOME_INSERTED_HERE_BY_INSTALL_SH/.Xauthority
Type=forking
ExecStart=/bin/bash BASE_INSERTED_HERE_BY_INSTALL_SH/system/kiosk.sh
Restart=on-abort
User=USERNAME_INSERTED_HERE_BY_INSTALL_SH
Group=GROUP_INSERTED_HERE_BY_INSTALL_SH

[Install]
WantedBy=graphical.target
